%h3 Wellcome
%ul
  - @users.each do |user|
    %li= link_to user.name, user_path(user.id)

-if user_signed_in?
  %p= "Здравствуйте, #{current_user.name}"
  = link_to 'Выйти', destroy_user_session_path, method: :delete
-else
  = link_to 'Войти', new_user_session_path
  %p или
  = link_to 'Зарегистрироваться', new_user_registration_path
